[2014-07-10 22:17] artem-zinnatullin opened #1 "Report from email: WAIL not working with Google Play Music"
Hi!

The scrobbler doesn't seem to work with Google Play (Google music app) anymore. Settings are set to on though, so not sure why. Any idea?

Best,

Sebastien

[2014-07-11 07:02] #1 closed, assigned to nobody

[2014-07-11 07:19] artem-zinnatullin opened #2 "Add support for TuneIn Radio app"
Guys, please check possibility of adding support to the TuneIn Radio App https://play.google.com/store/apps/details?id=tunein.player

[2014-07-11 07:21] artem-zinnatullin opened #3 "Main screen should display current playing track"
WAIL users want to see if WAIL handling playing music track at the moment, so we need to show this on the Main screen

[2014-07-11 09:53] vkravets opened #5 "Add OPPO Music Player support (Android Color OS)"
Add support of internal OPPO Music player from Color OS.
Applications can be found https://drive.google.com/folderview?id=0BzTMv76_aS1aZXNWTFFjSFBaNHM&usp=sharing

Main application and the widget (for sure)

[2014-07-11 21:28] artem-zinnatullin opened #6 "Add support for AIMP Player"
Here is the AIMP app: https://play.google.com/store/apps/details?id=com.aimp.player

Here is discussion on AIMP's forum http://www.aimp.ru/forum/index.php?topic=39355.0

[2014-07-12 20:32] artem-zinnatullin opened #7 "Remove appcompat dependency"

[2014-07-12 20:38] artem-zinnatullin opened #8 "Add support for RemoteControllerClient"

[2014-07-13 17:17] aleks-ko89 opened #10 "Add support for VK app"

[2014-07-14 03:54] #10 closed, assigned to nobody

[2014-07-14 06:14] ilia-murzinov opened #11 "Move CI builds to TravisCI"
It automatically triggers builds for every commit and pull-request.
https://travis-ci.org/

I can set up the build script.

[2014-07-14 14:07] theli-ua opened #13 "Support for scrobbling to libre.fm"
Potentially adding ability to add your own scrobble URLs for a situation when you run your own libre.fm server.

[2014-07-14 14:09] #11 closed, assigned to nobody

[2014-07-14 15:06] artem-zinnatullin opened #14 "Fix all lint errors"
try to run lintRelease gradle task and check the report

[2014-07-14 17:44] nasa42 opened #15 "Enable browser based last.fm authentication."
Some users are too paranoid (me?) to enter their last.fm credentials in a third-party app. It would be great if WAIL allows users to authorise WAIL to access their last.fm account using browser authentication.
More information here: http://www.last.fm/api/desktopauth

[2014-07-14 20:08] ilia-murzinov opened #17 "Add the option to disable scrobbling over mobile network"
Based on Google Play comment.

[2014-07-14 21:20] #7 closed, assigned to artem-zinnatullin

[2014-07-14 21:46] artem-zinnatullin opened #18 "Integrate GitHub repo with Travis"
https://github.com/blog/1227-commit-status-api
https://github.com/theintern/intern/wiki/Travis-CI-integration

@ilya-murzinov please check this links, WAIL's Travis project on your account, I can configure GitHub's part

[2014-07-15 05:20] #18 closed, assigned to artem-zinnatullin

[2014-07-17 11:01] ilia-murzinov opened #20 "Add Waffle.io integration"
[Waffle.io](https://waffle.io/) is great task-tracking system.
I think it will be nice have it integrated with this repo.

@artem-zinnatullin, don't you think so?

[2014-07-17 20:51] #20 closed, assigned to nobody

[2014-07-17 21:15] #3 closed, assigned to nobody

[2014-07-18 21:43] dimsuz opened #23 "Having "press back twice to exit" looks wrong"
This looks wrong: why app is forcing me to press back twice to "exit"?
1. What do I gain by this? No android apps on my phone do this thing, it feels _very_ unusual and "bad" for my habits. Why can't I just go back right away and return if I need, that can be easily done.
2. Pressing "back" is not "exiting" on Android - it is more like "leaving" the app. It remains in a 'sleeping\cached' state and

[2014-07-19 19:31] #14 closed, assigned to nobody

[2014-07-19 19:56] #23 closed, assigned to nobody

[2014-07-19 20:28] #17 closed, assigned to nobody

[2014-07-19 21:59] artem-zinnatullin opened #26 "Multiple track scrobbling"
There is a bug (incorrect behavior) in WAIL.

WAIL can scrobble track multiple times if you or Android will pause the track WAIL can scrobble it, and then, scrobble it again if it will be continued

[2014-07-19 22:22] ilia-murzinov opened #27 "Add status bar notifications"

[2014-07-20 07:09] artem-zinnatullin opened #29 "Language selection in Settings"
@tehabe helped with German translation #28, so I think, it's time to add language selection to the WAIL Settings for users, who want to set it manually (me for example :)

I think it should be spinner with next items:
- Auto (selected by Android from available resources)
- English
- German

Later we'll be able to add other languages

[2014-07-21 19:59] #27 closed, assigned to nobody

[2014-07-21 20:12] artem-zinnatullin opened #31 "Show notification after enabling while music is playing"
@ilya-murzinov when music is playing and status bar notifications are not enabled, if I enable status bar notifications they won't show until track changed

I think it's possible to check `WAILSettings.getNowScrobblingTrack()` and if result is not null when user enables notifications you can show notification immediately

[2014-07-21 21:10] #31 closed, assigned to nobody

[2014-08-03 19:48] lirtm opened #34 "Add support GoneMAD Music Player"
Good Day.
I want to see support this player correctly.
By first start of player the first listening track is scrobbled. Next track — no. Scrobbler not detect tracks.

App: https://cloud.mail.ru/public/64c00c010f3c/GoneMAD%2BMusic%2BPlayer%2BFULL%2Bv1.6.2.apk

[2014-08-06 09:08] artem-zinnatullin opened #35 "Add support for Music X Match player"
Request from user

[2014-08-12 14:36] artem-zinnatullin opened #36 "Add support for Beats Music (not HTC)"
Here is the app https://play.google.com/store/apps/details?id=com.beatsmusic.android.client

[2014-08-13 07:07] artem-zinnatullin opened #37 "Add support for Slacker Radio"
https://play.google.com/store/apps/details?id=com.slacker.radio here is the app

"I used to (untill yesterday) have a galaxy s4, and it had no problems picking up tracks played by slacker radio. Now I have a lg g3 and slacker tracks are not being seen."

[2014-08-15 08:45] artem-zinnatullin opened #38 "Add support for scrobbling from Kate Mobile App"
Here is the app: https://play.google.com/store/apps/details?id=com.perm.kate&hl=en

I think, we can contact with the Developer

[2014-08-15 13:16] artem-zinnatullin opened #39 "Create API for Music Apps, who want to send music info themselves"
Btw, WAIL currently support this, but there is no description of how to do it..

[2014-08-21 10:48] artem-zinnatullin opened #40 "Add support for JetAudio Plus"

[2014-08-21 10:49] artem-zinnatullin opened #41 "Add support for XiiAlive app"

[2014-08-23 13:13] ilya-murzinov opened #43 "Widget to ''love" currently playing track on Last.FM"
Based on [this](https://play.google.com/store/apps/details?id=com.artemzin.android.wail&reviewId=Z3A6QU9xcFRPRXZ5RlpROE5kTGwxRmFwNTZRNVZMR2g2bS1PX3M4alh3eFhWYnhWTjFzeldvWFdrclJzZWN2Sm5pVTg0YVozc2ExX3hGRkxPMnBaV2RyRVE) review.

@artem-zinnatullin, do you want to have this feature?

[2014-08-25 02:41] ghost opened #44 ""Disable scrobbling over mobile network""
Does "off" mean mobile network will be used or does "off" mean it won't be used.

It should be the latter also the description should be "Scrobbling over mobile network"

[2014-09-03 07:45] RingoRohe opened #45 "Pocket Casts Tracks not scrobbling but showing up as currently listening"
When I listen to a podcast with Pocket Casts (http://www.shiftyjelly.com/pocketcasts) the currently listening state is sent to last.fm but when playing is finished, the track does not get scrobbled.
I'm not sure if this is intended behavior but I think people would expect either the tracks got scrobbled or not showing up at last.fm in general. (personally I would like to scrobble my podcasts ;)

T

[2014-09-04 07:49] raxemus opened #46 "Add support for Yandex.Music app"
https://play.google.com/store/apps/details?id=ru.yandex.music

[2014-09-11 18:31] #29 closed, assigned to nobody

[2014-09-14 12:08] #44 closed, assigned to nobody

[2014-09-16 15:21] dotWee opened #49 "Add support for 8tracks"
I would love to see support for 8tracks! Link to the app: https://play.google.com/store/apps/details?id=com.e8tracks

[2014-09-16 21:05] artem-zinnatullin opened #50 "Add support for Sound Cloud app"

[2014-09-17 18:32] artem-zinnatullin opened #51 "Notifications bug?"
In Russian:

"В последней на сегодня бете при выключении оповещения в статус-баре через некоторое время отключается и звуковое оповещение о заскробленном треке. Закономерность уловить не смог, заметил вчера вечером. Сегодня обновлял прошивку, после пеерзагрузки точно слетело. При этом, если включить звуковое оповещение в настройках, авоматом включается и оповещение в статусбаре.
Как-то так. Если н

[2014-09-22 07:10] raxemus opened #52 "Strange compatibility with Stellio player"
When scrobble writes "null - null", then after 20-30 seconds to stabilize
And in it I liked being able to listen to the audio of the [vk.com]
But the fact that it does not always work correctly with Wail - it saddens me

[2014-09-23 18:31] ilia-murzinov opened #53 "Internal code architecture improvement"
@artem-zinnatullin, you've mentioned once in #48 that WAIL has bad architecture. So may be it's time to improve it using tools you listed?
Or it's not the part of your plan for WAIL? :)

[2014-09-24 18:23] artem-zinnatullin opened #54 "[refactor] Use ButterKnife whenever it's possible"

[2014-09-30 06:55] artem-zinnatullin opened #56 "Add support for MediaMonkey music player"

[2014-10-01 19:08] artem-zinnatullin opened #58 "Add support for Rocket Player"

[2014-10-03 06:40] raxemus opened #59 "Add support for Dream Player app"
https://play.google.com/store/apps/details?id=com.team48dreams.player

[2014-10-06 20:18] #54 closed, assigned to nobody

[2014-10-06 20:30] artem-zinnatullin opened #60 "Use Otto (EventBus) instead of BroadcastReceivers in some cases"

[2014-10-25 10:22] keyursakaria opened #61 "Track doesn't scrobbles"
Hi,

In the track section where scrobbled tracks are shown there are some tracks which keeps showing scrobbling but doesn't gets scrobbled

[2014-10-25 19:00] artem-zinnatullin opened #62 "Add support for Double Twist player"

[2014-11-16 16:40] alehandrof opened #63 "Turn off support for Listen Audiobook Player"
Recently I noticed that WAIL was scrobbling from [Listen Audiobook Player](https://play.google.com/store/apps/details?id=com.acmeandroid.listen&hl=en). I don't really have any use for scrobbling audiobook tracks. Can you provide an option to turn off support for this player?

[2014-12-15 15:18] artem-zinnatullin opened #64 "Simple widget for turn on/off scrobbler"
"Those would be extra but a simple scrobble on/off switch.
Example would be when I listen to comedy albums, I don't want those going to my last.fm list."

[2014-12-17 17:38] artem-zinnatullin opened #65 "Material Design!"

[2014-12-20 19:06] #51 closed, assigned to nobody

[2014-12-23 17:09] artem-zinnatullin opened #66 "Switch to Retrofit + OkHttp + Gson"
It's a part of Internal code architecture improvement (#53)

[2014-12-23 17:11] artem-zinnatullin opened #67 "Handle common errors from Last.fm api"
Such as authorization problems and so on which can occur in every request, if Retrofit will be used as API layer, it can be simply done by request interceptor which will create special exceptions with parsed errors

[2014-12-24 12:02] ilya-murzinov opened #69 "Wail settings optimization"
@artem-zinnatullin:

[2014-12-24 15:42] ilia-murzinov opened #70 "Investigate and fix test execution on Travis CI"
@artem-zinnatullin:

[2014-12-26 10:29] ilia-murzinov opened #71 "Switch to Android Priority Job Queue"
@artem-zinnatullin:

[2014-12-30 23:41] artem-zinnatullin opened #72 "Ripple effect for buttons, FABs and touchable controls"

[2015-01-04 12:34] inverse commented on #49
It's not scrobbling for me either ^_^

[2015-01-08 11:10] RamsesDeNorre opened #73 "Enable caching scrobbles when on battery"
Enable an option like in simple last.fm scrobbler to cache a certain number of scrobbles and submit them in batch when on battery.
This should save some battery by only scrobbling tracks once an hour or so.

[2015-01-09 06:33] artem-zinnatullin commented on #73
Good suggestion

[2015-01-12 15:06] #69 closed

[2015-01-12 15:14] ilya-murzinov commented on #72
@artem-zinnatullin, can you suggest a library for this?
I tried https://github.com/traex/RippleEffect, but didn't like it. For example, when after click new activity starts animation immediately stops and continues after returning to the original activity. Seems to be a bug to me.

[2015-01-12 15:20] ilya-murzinov commented on #43
Done, closing.

[2015-01-12 15:20] #43 closed

[2015-01-13 17:08] artem-zinnatullin commented on #72
@ilya-murzinov unfortunately I don't know any good libraries for backporting ripple effect, I used ripple for Android L and standard selector with exitDuration for pre L

[2015-01-13 17:09] artem-zinnatullin commented on #43
Awesome

[2015-01-14 08:59] ilya-murzinov commented on #72
@artem-zinnatullin, all right, I'll do the same.

[2015-01-16 07:41] ilya-murzinov opened #76 "Add option to ignore some media players"
As proposed in #63, it might be not desired to scrobble tracks from some players.

[2015-01-16 07:53] ilya-murzinov commented on #63
I will add an option to ignore any player, see #76.
Closing this.

[2015-01-16 07:53] #63 closed

[2015-01-16 07:56] ilya-murzinov opened #77 "Russian translation"

[2015-01-16 08:09] alehandrof commented on #63
Sounds good. Thanks!

[2015-01-16 19:28] #77 closed

[2015-01-17 08:26] #72 closed

[2015-01-18 10:31] ilya-murzinov opened #80 "Bug in language selector"
Sometimes description of "Select language" settings item is incorrect.
Needs to be reproduced and fixed.

[2015-01-18 10:36] ilya-murzinov opened #81 "Settings material design"
Settings screen needs to be redesigned.
I think, for start, just wrap settings categories in CardViews will be enough.

Part of #65

[2015-01-18 20:56] ilya-murzinov opened #82 "Improve Russian translation"

[2015-01-18 21:01] artem-zinnatullin commented on #81
`CardView` for categories? Interesting, can you please post a screenshot

[2015-01-18 21:03] ilya-murzinov commented on #81
Just look at settings in Android 5.

[2015-01-18 21:13] artem-zinnatullin commented on #81
Oh, really :D Okay, LGTM

[2015-01-19 08:43] #76 closed

[2015-01-19 09:20] #82 closed

[2015-01-19 11:20] ilya-murzinov commented on #81
This is how it's gonna look:
![screenshot_2015-01-19-14-17-28 1](https://cloud.githubusercontent.com/assets/3704363/5799672/2e648a1c-9fe6-11e4-9218-31a8404dd0c2.png)

[2015-01-19 11:21] artem-zinnatullin commented on #81
Cool

[2015-01-19 11:34] ilya-murzinov opened #85 "Add option to logout"
We don't currently have any way to log out, except uninstalling the app.
There must be new settings item which allow user to log out.

[2015-01-19 11:36] artem-zinnatullin commented on #85
Agree, also, this option should clear ALL SharedPreferences and Databases

[2015-01-20 08:51] ilya-murzinov commented on #65
Closed via #68, #75, #86

[2015-01-20 08:51] #65 closed

[2015-01-20 09:15] ilya-murzinov opened #87 "Attach .apk to v0.7.0 release"
Draft was drafted in [releases](https://github.com/artem-zinnatullin/android-wail-app/releases)

[2015-01-20 09:47] artem-zinnatullin commented on #87
Yo! Did you checked upgrade over current version in Google Play? I mean, DB upgrade, SharedPreferences and so on on live install over v0.6.5? Also, I think it's time to change "email developer" option and send it to not only mine email, but your too :)

[2015-01-20 09:49] ilya-murzinov commented on #87
@artem-zinnatullin, no, I didn't check. I'll do it now.
Does anybody use "email developer"? :)

[2015-01-20 09:53] artem-zinnatullin commented on #87
@ilya-murzinov oh yes, sometimes I receive up to 3-4 emails per day, but in average -> about 4 emails per week, most of times I redirect users to GitHub issues or they just saying "Thanks!" last few months you deserved it much more than me :+1:

[2015-01-20 09:56] ilya-murzinov commented on #87
Alright then, I'll add my email :)

[2015-01-20 10:21] ilya-murzinov commented on #87
@artem-zinnatullin, I tested updating app and added my e-mail.
Everything seems fine, I think we are ready to go! :)

[2015-01-20 10:24] artem-zinnatullin commented on #87
@ilya-murzinov okay, lets do it!

[2015-01-20 10:40] artem-zinnatullin commented on #87
@ilya-murzinov done :+1:

[2015-01-20 10:41] artem-zinnatullin opened #88 "Screenshots for Google Play and README"
Settings was redesigned + other Ui changes

[2015-01-20 11:11] ilya-murzinov commented on #88
@artem-zinnatullin I updated screenshots in README, are they ok now?

[2015-01-20 11:14] ilya-murzinov commented on #87
Great :)

[2015-01-20 11:14] #87 closed

[2015-01-20 11:20] artem-zinnatullin commented on #88
@ilya-murzinov LGTM, I'll use them for Google Play now

[2015-01-20 11:25] artem-zinnatullin commented on #88
Done, closing

[2015-01-20 11:25] #88 closed

[2015-01-20 12:05] ilya-murzinov opened #89 "Error on Huawei MediaPad 10 fhd"

[2015-01-20 12:06] ilya-murzinov commented on #89
F*ck.
@artem-zinnatullin, I tested on 4.0 emulator, what can be the problem?

[2015-01-20 12:12] artem-zinnatullin commented on #89
@ilya-murzinov "Huawei" is the problem (it's a joke), I can't say anything without logs, Google Play crashlogs empty for v0.7.0, for v0.6.5 last and the only crash was on Sony Xperia phone

[2015-01-20 12:14] ilya-murzinov commented on #89
@artem-zinnatullin, how can we ask him to send a report?

[2015-01-20 12:18] artem-zinnatullin commented on #89
@ilya-murzinov I forgot about Google Analytics! Here is the crash for v0.7.0, but it could be from debug version: `NullPointerException (@MainFragment:onCreate:195) {main}`

[2015-01-20 12:21] artem-zinnatullin commented on #89
@ilya-murzinov may be you forget to change layouts for Tablets? (Just thinking)

[2015-01-20 12:28] artem-zinnatullin opened #90 "Bug report from Google+ Group: App keeps pop up"
https://plus.google.com/+RicardoSilva1973/posts/CdGSn1JzZdn

[2015-01-20 12:53] ilya-murzinov commented on #90
@artem-zinnatullin, I've experienced something like this with Chrome some tome ago
I'll look into this ASAP.

[2015-01-20 12:55] ilya-murzinov commented on #89
@artem-zinnatullin I'll check it

[2015-01-20 13:05] ilya-murzinov commented on #89
@artem-zinnatullin, that's right, forgot about landscape layout, fixing it.

[2015-01-20 13:06] ilya-murzinov commented on #90
@artem-zinnatullin any ideas why can it happen?
Can you even reproduce this?

[2015-01-20 13:08] artem-zinnatullin commented on #90
@ilya-murzinov I think it's Android problem, but I'll check the code when I'll have time

[2015-01-20 13:09] artem-zinnatullin commented on #89
@ilya-murzinov okay, I got same bug on Nexus 7 after rotating to landscape, ping me when you'll prepare v0.7.1 with bugfix, I'll publish it ASAP

[2015-01-20 13:33] #89 closed

[2015-01-20 13:33] ilya-murzinov commented on #89
Fixed.

[2015-01-20 13:52] ilya-murzinov commented on #90
Problem is in WailApp.java
[code]
and LocalUtil.java
[code]

[2015-01-20 13:55] artem-zinnatullin commented on #90
100% true

вт, 20 янв. 2015, 16:52, Ilya Murzinov <notifications@github.com>:

[2015-01-20 14:14] #90 closed

[2015-01-20 14:18] ilya-murzinov opened #91 "Prepare new release"
Fixed both bugs, #89 and #90, app needs to be updated in Google Play ASAP.
Really sorry for this :(

[2015-01-20 14:28] artem-zinnatullin commented on #91
@ilya-murzinov okay, publishing, hope fix for #90 won't brake anything

[2015-01-20 14:30] ilya-murzinov commented on #91
@artem-zinnatullin, it should not, it's quite clear in my opinion..

[2015-01-20 14:32] artem-zinnatullin commented on #91
@ilya-murzinov done, waiting for angry users :)

[2015-01-20 14:32] #91 closed

[2015-01-20 14:38] ilya-murzinov commented on #91
@artem-zinnatullin, I certainly hope there will not be lots of them :)

[2015-01-20 14:40] artem-zinnatullin commented on #91
@ilya-murzinov sure, most of users does not check Google Play updates manually, Google Play usually installs auto-updates at night or in the morning, for many users v0.7.1 will be available at this moment

[2015-01-20 15:36] ilya-murzinov commented on #89
:))))))

[2015-01-20 15:49] artem-zinnatullin commented on #89
![screen shot 2015-01-20 at 18 40 41](https://cloud.githubusercontent.com/assets/967132/5820286/03e38a5a-a0d5-11e4-8931-4880324519cf.png)

"Апполон" :D

[2015-01-20 16:18] artem-zinnatullin opened #93 "Landscape mode Ui back button"
In landscape mode on Tablet (Nexus 7) back button present in ActionBar, which is strange :)

![2015-01-20 16 17 24](https://cloud.githubusercontent.com/assets/967132/5820869/031b0e3c-a0d9-11e4-8bc7-213a8c42390a.png)

[2015-01-20 16:19] artem-zinnatullin opened #94 "Landscape mode Ui Navigation Drawer item is not selected by default"
Nexus 7, landscape mode

1) Launch the app
2) Main fragment selected by default
3) "Main" is not selected in Navigation Drawer

![2015-01-20 16 17 24](https://cloud.githubusercontent.com/assets/967132/5820894/4944d58c-a0d9-11e4-805a-d325f4234d7a.png)

[2015-01-20 16:22] ilya-murzinov commented on #94
@artem-zinnatullin nice idea to test app on tablet after release :))))

[2015-01-20 16:25] artem-zinnatullin commented on #94
@ilya-murzinov  "Huyak huyak & to production!" Tablets!

[2015-01-20 16:25] inverse commented on #49
Spoke to their team and they don't currently publish intents. It's something they will look into in the future though.

[2015-01-20 18:42] ilya-murzinov opened #95 "New nav. drawer"
Thanks to [this](https://play.google.com/store/apps/details?id=com.artemzin.android.wail&reviewId=Z3A6QU9xcFRPR2Nab3ljdnBOZ2VyTFhUMW1namdFazNocGFyR1FRWXlJQm9sWmtGSzdUYkx3SE5hTmpQX0hUYzlOWkZEb2tRaVVyNG9WVG9yN2kxWHFPcnc) review on Google Play.

Guidelines: [navigation drawer](http://www.google.com/design/spec/patterns/navigation-drawer.html)

[2015-01-21 13:07] Pichu0102 opened #96 "Opening some other apps causes Wail Beta to open instead"
Two apps I've noticed; SimplyNoise and Text Sizer for Dolphin; have an issue where after the Wail update, you can't open them without Wail opening and taking over. The only way to stop this behavior is to disable or uninstall Wail from the OS' app information menu.

[2015-01-21 13:23] ilya-murzinov commented on #96
@Pichu0102, hello!
I've fixed this bug in **v0.7.1**, make sure you update the app to latest version.
See #90

[2015-01-21 13:23] #96 closed

[2015-01-21 13:37] #93 closed

[2015-01-21 13:38] #94 closed

[2015-01-21 18:02] ilya-murzinov commented on #95
@artem-zinnatullin, drawer not finished but idea is:
![screenshot_2015-01-21-21-00-32](https://cloud.githubusercontent.com/assets/3704363/5841791/b0ea8b32-a1b0-11e4-8282-d317f86348ca.png)

[2015-01-21 19:40] artem-zinnatullin commented on #95
@ilya-murzinov cool, also will be great to add some image into drawer, like
Pushbullet, or Gmail, or Google Play

ср, 21 янв. 2015, 21:02, Ilya Murzinov <notifications@github.com>:

[2015-01-22 07:46] vladislav-lozovskiy commented on #26
Very unpleasant bug. As a workaround I set "Min track elapsed in seconds"  = 240. In most cases it helps

[2015-01-22 08:25] ilya-murzinov commented on #26
@artem-zinnatullin, @vladislav-lozovskiy how should we detect that track continues playing but not played again?

[2015-01-22 10:46] artem-zinnatullin commented on #26
@ilya-murzinov best solution -> switch to another mechanism of getting music playing info, see #8, and may be it's possible to create full music playing state machine which will be able to say that track was paused, then resumed and so on

[2015-01-22 10:52] ilya-murzinov commented on #95
@artem-zinnatullin, I updated preview above.
Any idea what kind of picture can we use in background?

[2015-01-22 10:58] artem-zinnatullin commented on #95
@ilya-murzinov can you please check Public Licence of standard Lolipop wallpapers? if it's okay, you can put one of them into Nav Drawer, also, would be better if Nav Drawer will be under status bar on Lolipop (see apps I mentioned earlier)

[2015-01-22 15:19] ilya-murzinov commented on #95
@artem-zinnatullin, is landscape layout ok? I tested om Nexus 5, not tablet of course.
![screenshot_2015-01-22-18-16-48](https://cloud.githubusercontent.com/assets/3704363/5858301/111a9062-a263-11e4-8239-ec1d1dd5b52b.png)
![screenshot_2015-01-22-18-16-52](https://cloud.githubusercontent.com/assets/3704363/5858302/11251eba-a263-11e4-8b9a-b2fccb81c5c1.png)

[2015-01-22 15:40] artem-zinnatullin commented on #95
@ilya-murzinov I'll be able to test in several hours, if you want to do it yourself, I'd recommend to use Genymotion they have Nexus 7, Nexus 10 configurations of emulators, Genymotion emulators are great

[2015-01-22 15:43] ilya-murzinov commented on #95
It's still not ready for testing, I just wonder if you like how it looks.
On Jan 22, 2015 6:41 PM, "Artem" <notifications@github.com> wrote:

[2015-01-22 16:22] artem-zinnatullin commented on #95
@ilya-murzinov Ui LGTM, icons, user info, Navigation Drawer hipster pack for Android App :+1:

[2015-01-23 09:44] ilya-murzinov commented on #95
@artem-zinnatullin should we highlight current item in drawer? I can't decide :)

[2015-01-23 09:46] ilya-murzinov opened #98 "New launcher icon"
see #95
Guidelines: [icons](http://www.google.com/design/spec/style/icons.html#icons-system-icons)

[2015-01-23 09:50] ilya-murzinov commented on #81
regroup settings items

[2015-01-23 09:56] artem-zinnatullin commented on #95
@ilya-murzinov yes, of course, check several apps and decide how to do it :)

[2015-01-23 13:12] ilya-murzinov commented on #95
@artem-zinnatullin, almost final version:
![screenshot_2015-01-23-16-10-41](https://cloud.githubusercontent.com/assets/3704363/5875122/aa063c24-a31a-11e4-927b-b105ddabf56a.png)

[2015-01-23 13:42] artem-zinnatullin commented on #95
@ilya-murzinov cool, let's publish it :+1:

[2015-01-23 20:36] ilya-murzinov commented on #61
@keyursakaria, @tinosoft hi!
Is this bug still reproducible?

[2015-01-26 10:56] angmyu opened #100 "'Album Artist' support"
Are there any plans to support 'Album Artist' information?

I found that several scrobblers (incl. official last.fm desktop) supports 'Album Artist' scrobbling, which categorizes albums in user's library more efficient and gives more precise stats.

In fact, it seems that there are no scrobbler app. for Android, to support sending 'Album Artist' information when it scrobbles track. So it would be

[2015-01-26 13:07] #80 closed

[2015-01-27 11:58] #95 closed

[2015-01-28 17:35] artem-zinnatullin opened #102 "New developers!"
Just an issue for those, who want to participate in WAIL Beta development, ask your questions and so on.

Better to move this thing to gitter.im + project's wiki, but we can keep this issue for some time.

@ilya-murzinov is main developer at the moment, he can be your mentor! I am @artem-zinnatullin — project maintainer

[2015-01-28 17:53] ilya-murzinov commented on #102
:+1:
Happy to help!

[2015-01-29 19:27] #81 closed

[2015-01-30 13:43] cmoyer commented on #102
Sorry about the delay, I've been swamped at work. I'll be more than happy to try and help out on the project where time allows between work and personal projects!

[2015-01-30 17:53] #85 closed

[2015-01-30 17:58] ilya-murzinov opened #104 "Switch to Material Dialogs"
[Material Dialogs](https://github.com/afollestad/material-dialogs)

[2015-02-01 01:05] artem-zinnatullin commented on #102
@ilya-murzinov @cmoyer everything okay?

[2015-02-01 12:16] ilya-murzinov commented on #102
@artem-zinnatullin about what? :))

[2015-02-01 13:08] artem-zinnatullin commented on #102
@ilya-murzinov @cmoyer contacted you?

[2015-02-01 13:09] ilya-murzinov commented on #102
@artem-zinnatullin not yet

[2015-02-02 08:49] #104 closed

[2015-02-02 09:31] ilya-murzinov commented on #98
@artem-zinnatullin can you help with this?)
I'm not an expert, but I think the current icon is not "material".
Is there any chance you can draw a new one? Or may be you think it's not necessary?

[2015-02-02 09:50] artem-zinnatullin commented on #98
@ilya-murzinov the problem is that I agree, "icon is not material", but I am not a designer to draw new one :(

[2015-02-02 09:54] ilya-murzinov commented on #98
@artem-zinnatullin didn't you draw original one? If not, who did? Can't he/she draw a new one?

[2015-02-02 11:04] artem-zinnatullin commented on #98
@ilya-murzinov I found it on one of the "Icons stocks" with free licence (I hope)

[2015-02-02 11:12] ilya-murzinov commented on #98
@artem-zinnatullin, ok then, I'll move it to next version.

[2015-02-02 11:28] ilya-murzinov opened #106 "Publish 0.7.2 release?"
#81, #85, #94, #95, #104 done.
Is there anything else we want to implement in 0.7.2?

[2015-02-02 11:31] artem-zinnatullin commented on #106
@ilya-murzinov I think it's enough for new release :+1: , please test it and prepare release draft, I'll publish it to the Google Play Store

[2015-02-02 13:11] ilya-murzinov opened #107 "German translation"
@tehabe, can you please translate these 2 strings? :))

[code]

[2015-02-02 13:24] tehabe commented on #107
Oh, so I created a pull request for the translation but I thought
setting_logout_warning was a spelling mistake. :-)

On 2 February 2015 at 14:11, Ilya Murzinov <notifications@github.com> wrote:

[2015-02-02 13:27] cmoyer commented on #102
Yeah I've been swamped with stuff at work. I have about 4 different projects coming to an end that are getting deployed so things have been crazy lately. I will probably pull a copy down sometime this week and start looking through the source to get a general idea of how the application works.

[2015-02-02 14:03] #107 closed

[2015-02-02 14:14] ilya-murzinov commented on #102
@cmoyer please concentrate on #8 as soon as you get familiar with the project basics.

[2015-02-02 14:55] artem-zinnatullin opened #110 ""Rate WAIL" should not be displayed to user at fist launch"
Currently WAIL asks to rate it even at fist app launch, which is not good UX solution

[2015-02-02 14:55] artem-zinnatullin commented on #102
@ilya-murzinov I think it's better to start with easy to do Pull Requests and later switch on #8 (why the hell it's not number one issue? :D)

For example #110

[2015-02-02 17:54] ilya-murzinov opened #111 "Test v0.7.2 release."
Test v0.7.2 release against [this check list](https://github.com/artem-zinnatullin/android-wail-app/wiki/Testing)

[2015-02-02 17:57] ilya-murzinov opened #112 "Add support for Zvooq"
[Zvooq](http://zvooq.ru/) is nice music service it has Android app, but WAIL doesn't currently support it.
This must be fixed ASAP because I'm using it :)))

[2015-02-02 21:58] ilya-murzinov commented on #26
@artem-zinnatullin I think we should remove "Min track time elapsed in seconds", it automatically will solve this. Any thoughts?

[2015-02-02 22:02] ilya-murzinov commented on #26
And by the way, I discovered that some players set duration in seconds, not milliseconds. This can cause this bug again.

[2015-02-02 23:02] #52 closed

[2015-02-03 04:47] artem-zinnatullin commented on #26
Shit, I think it's better to implement #8 which should resolve this issue..

вт, 3 февр. 2015, 1:02, Ilya Murzinov <notifications@github.com>:

[2015-02-03 07:30] ilya-murzinov commented on #26
@artem-zinnatullin I don't see how #8 can help. Actually, I'm implementing it right now and the FIRST thing that I noticed was that WAIL started to scrobble all tracks, regardless how long they were played.

Actually, I think that this bug is caused by some players setting duration in seconds, not milliseconds.

[2015-02-03 07:31] ilya-murzinov commented on #111
Tested.

[2015-02-03 07:31] #111 closed

[2015-02-03 07:32] ilya-murzinov commented on #106
Tested, see #111.
[Release draft](https://github.com/artem-zinnatullin/android-wail-app/releases)

We are good to go!

[2015-02-03 14:13] tehabe opened #113 "German Play Store Description"
The current German Play Store description makes no sense.

My translation would be: "Einfach zu benutzender Last.fm-Scrobbler. Auch für Tablets geeignet."

![2015-02-03 13 02 47](https://cloud.githubusercontent.com/assets/3908663/6021567/156c45c2-abb7-11e4-9a3b-f94c84ce4a5d.png)

[2015-02-03 14:22] artem-zinnatullin commented on #106
Okay, publishing

[2015-02-03 14:30] artem-zinnatullin commented on #106
Done!

[2015-02-03 14:30] #106 closed

[2015-02-03 17:38] ilya-murzinov commented on #26
@artem-zinnatullin we can keep "Min track time elapsed in seconds", but the checking MUST be implemented like this:
[code]

And this bug will be resolved.
I Insist on this solution.
Thoughts?

[2015-02-03 21:16] artem-zinnatullin commented on #26
LGTM

[2015-02-07 17:29] magnumforce2006 opened #115 "Request: Ability to love previously played tracks"
An ability to love previously played tracks via the "tracks"  screen would be awesome.

[2015-02-09 13:01] shatteringlass opened #116 "Add support for Pandora App"
I know many users can't benefit from Pandora's goodness due to country restrictions, but it would be nice to add scrobbling support for this app.

[2015-02-09 16:25] onur-roqos commented on #116
Just wanted to say this is also the only missing piece for me in Wail.

[2015-02-09 16:38] shatteringlass commented on #116
I'm not sure which receiver is used in tgwizard/sls, but [here](https://github.com/tgwizard/sls/tree/master/src/com/adam/aslfms/receiver) is the complete collection they're using. Scrobbling works for me, maybe because I have xposed module Pandora Patcher. SLS detects a generic Android Music Player.

[2015-02-15 21:24] artem-zinnatullin opened #117 "Playing notification for vk.com"

[2015-02-15 21:44] artem-zinnatullin opened #118 "Double scrobbling from Poweramp"
`I'm having double scrobbling issues with poweramp just fyi`

[2015-02-18 14:43] LaHaine opened #119 "Request scrobbling from the bandcamp app"

[2015-02-19 16:12] raxemus commented on #117
Ok, I will be grateful!

[2015-02-20 12:14] artem-zinnatullin opened #120 "Desktop widget for "Love track""
And may be with another controls/info

[2015-02-21 03:53] raxemus commented on #118
Strangely enough, I had no such problems with Poweramp...

[2015-02-21 05:30] raxemus opened #121 "Bug with the definition of the name of the player Neutron"
WAIL displays it as com.android.music
http://4pda.ru/forum/index.php?showtopic=248705

[2015-02-21 13:44] ilya-murzinov commented on #121
Hi, @raxemus
It's not a bug, Neutron just sends it's intents with package name com.android.music.
There is nothing we can do.

[2015-02-21 13:44] #121 closed

[2015-02-21 17:13] artem-zinnatullin commented on #121
@ilya-murzinov #8 :dancer:

[2015-02-21 17:33] artem-zinnatullin opened #123 "Add default debug keystore"
Currently everyone who wants to build wail-app has to add debug keystore config to `build.gradle`

Will be great to include default debug.keystore into repo and write config for `build.gradle`

[2015-02-21 19:03] ilya-murzinov commented on #123
+1
Kills me :)

[2015-02-22 11:14] #123 closed

[2015-02-22 11:15] ilya-murzinov commented on #118
Duplicate #26

[2015-02-22 11:15] #118 closed

[2015-02-22 11:16] ilya-murzinov commented on #117
Hi @artem-zinnatullin, @raxemus
What is this about?

[2015-02-22 11:46] artem-zinnatullin commented on #117
@ilya-murzinov vk.com can display current playing track, some users really love this vk's feature and want to have an option in WAIL to send current playing info to vk.com

vk.com has an Android SDK or we can just use their REST API for this

[2015-02-22 12:18] ilya-murzinov commented on #117
I see.
Thats a major one though.

[2015-02-27 13:37] kasoban opened #126 "Suggested improvement to German localization"
The current values-de/strings.xml lists the following translation:

`<string name="drawer_registered_at">"Registrierte "</string>`

A sample output of the usage in the menu drawer:
"Registrierte 2008-05-03"

Instead I would suggest either "Registriert seit" or "Registriert am".
@tehabe since you wrote the original set, what is your opinion on this?

[2015-02-27 13:45] tehabe commented on #126
I agree, I would change it to "Mitglied seit". Will add an push request soon.

[2015-02-28 17:13] #126 closed

[2015-03-01 18:47] marszczybrew opened #129 "Spotify not detected"
I have Android 5.0 on LG G3 and, as mentioned above, this app doesn't detect music played on Spotify, whereas it does if I play from the default player. I have Spotify Premium and run the latest version of it.

[2015-03-01 19:52] artem-zinnatullin commented on #129
Hello @marszczybrew, it's problem of current playing music info recognition mechanism, it can be solved by #8

But both of developers: @ilya-murzinov and me are too busy :disappointed:

If you can help -> Pull Requests are highly appreciated!

[2015-03-02 20:57] Wikiwix opened #130 "Min priority notification"
The scrobbling notification should be, at least as an option, be of minimal priority:
So there is no icon in the statusbar and it is not visible on the lockscreen (lollipop)

[2015-03-13 22:45] artem-zinnatullin opened #131 "Scrobbing configuration"
From email: "I mostly listen to Indian soundtracks which generally has one composer for the whole movie and different artists singing each track. With the existing scrobbling of "Song Artist - Track name" is kinda misleading for Indian soundtracks. I would love to have an user option which would let me scrobble "Album Artist - Track name". "

[2015-03-13 22:48] artem-zinnatullin opened #132 "NullPointerException in MainFragment"
`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.artemzin.android.wail/com.artemzin.android.wail.ui.activity.MainActivity}: java.lang.NullPointerException
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2229)
at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2279)
at android.app.ActivityThread.access$600(ActivityThread.java:142)
a

[2015-03-13 22:49] artem-zinnatullin opened #133 "NullPointerException in SettingsFragment"
`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.artemzin.android.wail/com.artemzin.android.wail.ui.activity.MainActivity}: java.lang.NullPointerException
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2229)
at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2279)
at android.app.ActivityThread.access$600(ActivityThread.java:142)
a

[2015-03-13 22:50] artem-zinnatullin opened #134 "NullPointerException in TracksListFragment"
`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.artemzin.android.wail/com.artemzin.android.wail.ui.activity.MainActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.app.ActionBar.setTitle(java.lang.CharSequence)' on a null object reference
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2411)
at android

[2015-03-14 09:14] ilya-murzinov commented on #132
@artem-zinnatullin, oops, how can it be reproduced?

[2015-03-14 13:14] artem-zinnatullin commented on #132
IDK :( Just found it in Google Play reports

сб, 14 марта 2015, 12:14, Ilya Murzinov <notifications@github.com>:

[2015-03-14 20:23] inverse commented on #49
Looks like it's now working with SLS (https://github.com/tgwizard/sls) perhaps it's also working with WAIL.

[2015-03-16 17:04] Stebo91 commented on #98
![wailbetamd](https://cloud.githubusercontent.com/assets/3914326/6671620/d9b8b9fa-cc06-11e4-8aa4-fe9885aaf1cb.png)

what do you think about this one?

[2015-03-16 18:52] artem-zinnatullin commented on #98
@ilya-murzinov take a look!

I love the idea, @ilya-murzinov can you please make screenshot from launcher? I am very busy with work :disappointed:

Or I'll take screenshot tonight

@Stebo91 great work! Where are you doing it: Sketch, Illustrator, Photoshop?

[2015-03-16 19:03] Stebo91 commented on #98
Thank you @artem-zinnatullin ! I just used Photoshop

[2015-03-16 22:39] artem-zinnatullin commented on #98
Here are the screenshots:

1.
![1](https://cloud.githubusercontent.com/assets/967132/6677988/14de820a-cc46-11e4-8f54-9b5e69ae483c.png)

2.
![2](https://cloud.githubusercontent.com/assets/967132/6677991/20c6857c-cc46-11e4-91b6-aa2770b11ce8.png)

3.
![3](https://cloud.githubusercontent.com/assets/967132/6677993/275eaae0-cc46-11e4-8660-abb5cbad5ea0.png)

4.
![4](https://cloud.githubusercontent.com/as

[2015-03-16 22:51] Stebo91 commented on #98
@artem-zinnatullin I'd say 1 or 2

[2015-03-17 09:02] ilya-murzinov commented on #98
@Stebo91, great job!
I really like all the icons (especially, №4 for some reason :) ).
But I think the main color has to be blue, because the main color in the application is blue.
@artem-zinnatullin, do you agree?

[2015-03-17 09:11] artem-zinnatullin commented on #98
@ilya-murzinov LOL

We can change current blue color to this one from icon :)

№4 breaks the idea of "Vinyl Record with synchronization" because it's square

[2015-03-17 10:34] Stebo91 commented on #98
![wailbetamd5](https://cloud.githubusercontent.com/assets/3914326/6685363/6b299818-cc99-11e4-9386-c56680c18abd.png) ![wailbetamd6](https://cloud.githubusercontent.com/assets/3914326/6685362/6b24d594-cc99-11e4-83eb-2e47a207063c.png) ![wailbetamd7](https://cloud.githubusercontent.com/assets/3914326/6685365/6b3327a2-cc99-11e4-813f-a4869853e603.png) ![wailbetamd8](https://cloud.githubusercontent.com/a

[2015-03-17 10:37] artem-zinnatullin commented on #98
@Stebo91 nice colors!

But I'd agree about overuse of blue color, just opened launcher: 22 of 61 icons are blue

[2015-03-17 10:45] Stebo91 commented on #98
@artem-zinnatullin  Thanks!!! anyways if you guys can think about any other combination of colors, just let me know and I'll do it :)

[2015-03-17 11:16] Stebo91 commented on #98
![wailbetamd9](https://cloud.githubusercontent.com/assets/3914326/6686037/3f8b123a-cc9f-11e4-8ca0-61f6fbc5888c.png) ![wailbetamd10](https://cloud.githubusercontent.com/assets/3914326/6686038/3f90c8f6-cc9f-11e4-843f-94a45d2d385a.png)

These two are inspired by Google Play Music. I personally like a lot these colors

[2015-03-30 20:10] artem-zinnatullin opened #135 "Bugs bugs bugs"
From email:

Firstly, I like to do some tests when I get a new scrobbler:
1) Play track and pause it several times to ensure it does not scrobble the track several times - OK
2) Play track on repeat (2x) so it is correctly scrobbled
3) Play track again, but hit restart before the track is finished (over 50% of the track)

I did the 3 tests, but I only got 2 scrobbles on my account. The WAIL app sh

[2015-04-03 09:22] peczony opened #136 "Add information about supported players (not just «many music players») to the description on google play"
Some users (including me) wouldn’t want to sign in unless they know that the app supports exactly the player they’re using

(I, for one, listen to music on my Android mostly in official VK App, so I would post it as a feature request, but in fact it don’t know, maybe it is already supported)

[2015-04-03 10:36] artem-zinnatullin commented on #136
Unfortunately, Google Play warned me about using names of other services
and apps, so it's impossible to add this description to Google Play :(

Only as link to somewhere with this list.

пт, 3 апр. 2015 г. в 12:22, Alexander P <notifications@github.com>:

[2015-04-03 11:25] peczony commented on #136
Well, maybe this Github project is a right place ;)

[2015-04-03 13:39] artem-zinnatullin commented on #136
I'd agree :)

пт, 3 апр. 2015 г. в 14:25, Alexander P <notifications@github.com>:

[2015-04-04 10:40] Stebo91 commented on #98
@artem-zinnatullin @ilya-murzinov  have you decided yet? I'm curious :)

[2015-04-07 12:11] artem-zinnatullin commented on #98
@Stebo91 @ilya-murzinov I am sorry, I had exams in my University on previous week and now I have to write diploma..

Just select one of the great icons and I'll try to publish new build on Google Play

[2015-04-07 15:41] dotWee opened #137 "Saving battery by using latest Project Volta-APIs (aka job-scheduling)"
How about implementing a job-scheduler [(reference)](https://developer.android.com/about/versions/android-5.0.html#Power) for the scrobbling-task?
A problem could be the actual API, since it's only available for APIs greater than 21.

[2015-04-08 09:27] Stebo91 commented on #98
![e04a6c94-cc0d-11e4-8167-14ecf207408c](https://cloud.githubusercontent.com/assets/3914326/7042415/02e9d790-dde2-11e4-8fb9-3e88b56280cf.png) ![3f90c8f6-cc9f-11e4-843f-94a45d2d385a](https://cloud.githubusercontent.com/assets/3914326/7042417/03facd74-dde2-11e4-921c-0a0db1516bc8.png)

@artem-zinnatullin  @ilya-murzinov  Personally #2 is my favorite, but probably #1 is more consistent with the app UI.

[2015-04-09 21:24] artem-zinnatullin commented on #98
@ilya-murzinov your opinion?

I'd prefer #1 from last comment

[2015-04-10 21:39] ilya-murzinov commented on #98
@artem-zinnatullin, @Stebo91 I presonally like orange+black, but I'm OK with #1 :)

[2015-04-21 09:13] angmyu commented on #131
I also want that option: https://github.com/artem-zinnatullin/android-wail-app/issues/100

[2015-04-23 09:35] dotdapple opened #138 "Scrobbling from Xbox Music"
I know I’m in the minority, but it would be great if there’s support for scrobbling from Xbox Music. Microsoft has largely ignored requests for built-in scrobbling and WAIL is the only Last.fm scrobbling app on the Play Store (as far as I can tell) that is still being developed.

Thanks for the help.

[2015-05-07 16:00] DoctorWaffles opened #140 "Soundcloud support"
As Wail doesn't seem to detect Soundcloud songs nor its notifications, would support be possible?

Not all songs are detectable via the Last.FM database but even a small percentage would be awesome.

[2015-06-05 15:06] evoyager opened #141 "IllegalArgumentException: AppCompat does not support the current theme features"
When I try to build application, crash report "IllegalArgumentException: AppCompat..." occurred.

I find solution from this tutorial:
https://github.com/TonicArtos/SuperSLiM/issues/76

To fix it, I changed values -> themes.xml from
< item name="android:windowNoTitle">true< /item>
to
< item name="windowNoTitle">true< /item>
and it works!

Android Studio 1.1.0
Branch: develop.
Commit: 39c8a7f18a
Ver

[2015-06-07 14:25] joonki34 commented on #141
I have tried his solution and it works on my machine too. I am using Android Studio 1.2.1.1.

[2015-06-07 14:30] ilya-murzinov commented on #141
Can some of you please submit a PR with the fix?

[2015-06-07 15:39] #141 closed

[2015-06-07 15:41] ilya-murzinov opened #144 "Fix Travis CI build"
See #142, #143

[2015-06-07 16:34] ilya-murzinov commented on #144
Can't reproduce in local environment, must be something wrong on Travis.

[2015-06-07 16:59] #144 closed

[2015-06-07 18:17] ilya-murzinov opened #147 "Fix Lint warnings"
This is the issue to start with for new developers I believe.
Just run ```./gradlew check``` and you'll see warnings in ```/android-wail-app/wail-app/build/outputs/lint-results.html```.
Not all of them are relevant, but lots of them are.

[2015-06-07 18:19] ilya-murzinov commented on #132
Looks like one-time thing, don't you think?
Just like #133 and #134

[2015-06-07 18:22] ilya-murzinov commented on #135
I think, this is related to #26 and should be retested after it fixed.
But it can be also related to some network issues.

[2015-06-07 18:23] ilya-murzinov commented on #140
See #8

[2015-06-07 18:23] #140 closed

[2015-06-07 18:23] ilya-murzinov commented on #138
See #8

[2015-06-07 18:23] #138 closed

[2015-06-07 18:24] ilya-murzinov commented on #131
Duplicate #100

[2015-06-07 18:24] #131 closed

[2015-06-07 18:24] #129 closed

[2015-06-07 18:25] ilya-murzinov commented on #119
#8

[2015-06-07 18:25] #119 closed

[2015-06-07 18:27] artem-zinnatullin commented on #147
+1, would be nice to fix them all!

[2015-06-07 18:28] ilya-murzinov commented on #98
@Stebo91, sorry for the delay :)
Can you please submit a PR with this one?
![image](https://cloud.githubusercontent.com/assets/3704363/8025355/18044080-0d5c-11e5-9880-1eb0745a4df1.png)

[2015-06-07 18:35] artem-zinnatullin commented on #113
@tehabe can you please provide translation for all fields for app description, I can't translate only one part and leave others in English…

Short description: "Nice last.fm scrobbler with great ui optimized for tablets! You'll love it".

Full description: "Nice & simple last.fm scrobbler with Material Design for your android! It captures music playing events from your favorite music players and t

[2015-06-07 19:35] Stebo91 commented on #98
Uhm...how?

On Sun, 7 Jun 2015 20:28 Ilya Murzinov <notifications@github.com> wrote:

[2015-06-07 19:38] ilya-murzinov commented on #98
@Stebo91 have you ever worked with Android and/or git? :)

[2015-06-07 19:53] artem-zinnatullin commented on #98
@ilya-murzinov I think you can add icon to the app :)

[2015-06-07 19:54] ilya-murzinov commented on #137
I don't think it worth effort.
@artem-zinnatullin do you?

[2015-06-07 19:54] ilya-murzinov commented on #98
@Stebo91, yeah, I can, but I thought maybe @Stebo91 wants to do it himself :)

[2015-06-07 20:04] ilya-murzinov commented on #98
And also, the quality of the picture after uploading it to GitHub is inappropriate :(

[2015-06-07 20:10] Stebo91 commented on #98
Not really, no xD

On Sun, 7 Jun 2015 21:38 Ilya Murzinov <notifications@github.com> wrote:

[2015-06-07 20:11] ilya-murzinov commented on #98
@Stebo91, @artem-zinnatullin alright then, I'll do it :)
Can  you please send me hi-quality version of the image to murz42@gmail.com ?

[2015-06-07 21:17] Stebo91 commented on #98
ok!

2015-06-07 22:11 GMT+02:00 Ilya Murzinov <notifications@github.com>:

[2015-06-07 22:46] #26 closed

[2015-06-08 08:55] tehabe commented on #113
So, here my first draft.

Short Description: "Einfach zu benutzender Last.fm-Scrobbler. Auch für Tablets geeignet."

Full description: "WAIL ist ein einfacher last.fm-Scrobbler für Android. Es erfasst die gespielten Titel von vielen beliebten Musikapps und scrobbelt diese zu last.fm

Mit Nowplaying kann auf last.fm der aktuelle Titel angezeigt und geteilt werden.

WAIL ist Open Source. Auf https:/

[2015-06-08 10:43] artem-zinnatullin commented on #113
Thanks, I'll use them today!
8 июня 2015 г. 11:55 AM пользователь "Thomas Bohn" <notifications@github.com>
написал:

[2015-06-08 21:37] ilya-murzinov opened #148 "Scrobbling track without any indication."
From e-mail:

[2015-06-08 21:39] ilya-murzinov commented on #148
Possible workaround is to allow user to add arbitrary application to the list of ignored, but we need to find the root cause.

[2015-06-09 00:10] artem-zinnatullin commented on #113
Done, thanks a lot!

[2015-06-09 00:10] #113 closed

[2015-06-09 00:16] artem-zinnatullin commented on #148
JFYI: as far as I remember — Pocket Casts sends intents as "com.android.music"

[2015-06-10 14:42] joonki34 commented on #147
I am currently working on this and have a question. Would it be ok to remove unused resources, especially in strings.xml? I believe translators wouldn't want to spend their time on translating unused strings.

[2015-06-10 14:45] artem-zinnatullin commented on #147
If they are really not used — delete them :)

Anyway we'll review PR.

[2015-06-11 09:38] ilya-murzinov commented on #98
I asked @Stebo91 also to create an icon for the notification.
@Stebo91, please post your version here so we could decide :)

[2015-06-12 14:24] ilya-murzinov commented on #15
Will work on this.

[2015-06-12 16:58] #112 closed

[2015-06-12 22:28] #130 closed

[2015-06-13 21:27] ilya-murzinov opened #151 "Use @NonNull and @Nullable annotations"
Use ```@NonNull``` and ```@Nullable``` annotations for method args and return value. http://tools.android.com/tech-docs/support-annotations.

[2015-06-15 05:20] nasa42 commented on #15
Many thanks @ilya-murzinov. :-)

[2015-06-15 07:58] artem-zinnatullin commented on #15
:+1:

[2015-06-15 20:55] Stebo91 commented on #98
these days I'm kind of busy, I'll try to make a nice one on Thursday :)

2015-06-11 11:38 GMT+02:00 Ilya Murzinov <notifications@github.com>:

[2015-06-15 21:01] ilya-murzinov commented on #98
@Stebo91, no rush :)

[2015-06-16 09:06] dufferzafar commented on #58
:+1:

[2015-06-16 09:11] dufferzafar commented on #58
Even though there is this file in the code, I tested out the v0.7.2 build and this does not work! https://github.com/artem-zinnatullin/android-wail-app/blob/39c8a7f18a44e20485e85382551cb9a8e8039fdf/wail-app/src/main/java/com/artemzin/android/wail/receiver/music/RocketMusicPlayerReceiver.java

I sadly have no knowledge of java :(

[2015-06-16 21:08] ilya-murzinov commented on #147
Fixed by #152

[2015-06-16 21:08] #147 closed

[2015-06-16 21:10] ilya-murzinov commented on #132
This issue is useless :(

[2015-06-16 21:10] #132 closed

[2015-06-16 21:10] ilya-murzinov commented on #133
This issue is useless :(

[2015-06-16 21:10] #133 closed

[2015-06-16 21:10] ilya-murzinov commented on #134
This issue is useless :(

[2015-06-16 21:10] #134 closed

[2015-06-16 21:13] ilya-murzinov commented on #61
No response in a half-a-year, closing this.

[2015-06-16 21:13] #61 closed

[2015-06-16 21:14] ilya-murzinov commented on #115
Will be in 0.7.3

[2015-06-16 21:14] #15 closed

[2015-06-16 21:16] ilya-murzinov commented on #120
If someone want to work on this - go ahead.
And do not hesitate to ask anything.

[2015-06-16 21:18] #137 closed

[2015-06-16 21:21] ilya-murzinov commented on #50
I think I know what is the problem.

[2015-06-16 21:23] artem-zinnatullin commented on #50
Mm, that would be great, many users ask about Sound Cloud

[2015-06-17 14:06] joonki34 commented on #102
@ilya-murzinov Are you still working on issue #8? I'd love to know what the current status is. I am planning to add more player supports unless the issue is an ongoing one.

[2015-06-17 14:33] ilya-murzinov commented on #102
@joonki34, I am currently working on it.
But we will need all our old receivers because #8 will only work with API 19+ and only if user manually gives WAIL permission to read notifications.
So the old mechanism is not going anywhere and we have to support it.

Would be great if you add support to some new players!

[2015-06-18 13:52] joonki34 commented on #102
@ilya-murzinov Ok, so I was working on adding support to Musixmatch and I got stuck. I added a new class for the player and a few lines in AndroidManifest.xml. Then WAIL showed the currently playing track but it didn't store tracks. I assume that's because Musixmatch doesn't have 'playback' intent action.

However, RdioPlayerReceiver and SpotifyReceiver don't have the playback action but they are

[2015-06-18 17:53] Stebo91 commented on #98
Ok this is what I did (I posted it in black otherwise you wouldn't see it).
I attach also the white version in the different dimensions :)

[image: Immagine in linea 1]

2015-06-15 23:01 GMT+02:00 Ilya Murzinov <notifications@github.com>:

[2015-06-18 18:18] ilya-murzinov commented on #98
@Stebo91, thank you, it's very nice!
It's white, so no discussion about the color here :)

[2015-06-18 22:43] ilya-murzinov commented on #148
Yep, and also it always sends "playing == false", and it the problem :(

[2015-06-18 22:48] #98 closed

[2015-06-19 08:42] ilya-murzinov commented on #102
@joonki34, you should debug the WAILService to see what intent it handles and how it handles it.
Specifically, there is ```addTrackToDB``` method, you should find it usages and figure out why it's not getting called in your case.
Hope that helps.

[2015-06-19 08:49] ilya-murzinov opened #154 "Remove "Ignore player" functionality"
I'm having second thoughts about this "Ignore player" functionality.
As many players broadcast their intents with the wrong package name (e.g. com.android.music) it's not safe to ignore them based on this information.
Also, if we ever implement #8, the problem becomes more serious because I personally didn't figure out how to detect which player is actually playing.
So, even though it's a nice fea

[2015-06-19 09:09] ilya-murzinov commented on #135
Ok, I retested this.
 1. Passes if one of intervals between pauses is longer than 50% of tracks duration. I think it's the correct behavior.
 1. Passes.
 1. Passes.

Thanks to whoever reported this :+1

[2015-06-19 09:09] #135 closed

[2015-06-19 10:50] artem-zinnatullin commented on #154
I had same thoughts, when I played with #8 I also didn't find how to detect current player. I think, we can remove this "feature".

[2015-06-20 08:40] ilya-murzinov commented on #154
Instead of this, I think we should add "Unscrobble track" and "Remove track from library" features. Not quite the same, but at least something.

[2015-06-20 15:52] artem-zinnatullin commented on #154
Okay, why not.
20 июня 2015 г. 11:40 AM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-06-20 19:12] #154 closed

[2015-06-20 20:19] ilya-murzinov commented on #148
Nothing we can do here.

[2015-06-20 20:19] #148 closed

[2015-06-21 14:33] #115 closed

[2015-06-21 20:14] ilya-murzinov opened #157 "Add option to unscrobble track"
As discussed in #154

[2015-06-21 21:17] ilya-murzinov commented on #50
Just  like #148, SoundCloud sends confusing intents, nothing we can do :(

[2015-06-21 21:17] #50 closed

[2015-06-21 21:20] ilya-murzinov opened #158 "Translations"
@tehabe, @joonki34, we need you to check/correct all translations before we publish the **0.7.3** release. Thanks.

[2015-06-21 21:22] ilya-murzinov opened #159 "Release 0.7.3"
Issue to discuss upcoming 0.7.3 release.
I've implemented everything I wanted for this release, it's time to test it and publish!

[2015-06-21 21:47] tehabe commented on #158
Done. Pull request created.

[2015-06-22 00:39] joonki34 commented on #158
I'll check and update them by today.

[2015-06-22 05:35] artem-zinnatullin commented on #159
Great! Ping me and I'll publish it.
22 июня 2015 г. 12:22 AM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-06-22 08:23] joonki34 commented on #159
I am not sure it's just my phone but sometimes WAIL gets crashed when I relaunch the app after a long period of time (at least more than several hours) from the first run. I can't identify what's causing it. Does WAIL store crash log somewhere (maybe in GA)?

[2015-06-22 10:26] ilya-murzinov commented on #159
@artem-zinnatullin, can you please watch GA to see if there is something relevant?

[2015-06-22 10:27] ilya-murzinov commented on #159
@joonki34, can you inspect logcat from your device to see what exception is causing this behavior?

[2015-06-22 10:35] joonki34 commented on #159
@ilya-murzinov Well, it doesn't occur while I am actively using app. I'll try to reproduce the error and let you know if something comes up.

[2015-06-22 10:37] ilya-murzinov commented on #159
@joonki34, in the logcat you can see errors that occurred long time ago too. Just try to find some exception there.

[2015-06-22 11:09] joonki34 commented on #159
@ilya-murzinov Unfortunately, I couldn't see errors. I'll try this again 4-5 hours later.

[2015-06-22 12:42] ilya-murzinov opened #162 "WAIL crashes after some time without usage."
@joonki34:

[2015-06-22 12:42] ilya-murzinov commented on #159
@joonki34, let's move this discussion to #162

[2015-06-22 14:25] ilya-murzinov commented on #158
@tehabe, @joonki34, thanks, guys!

[2015-06-22 14:25] #158 closed

[2015-06-22 15:56] joonki34 commented on #162
Got it! It was NullPointerException and it occurs [here] (https://github.com/artem-zinnatullin/android-wail-app/blob/25105ad0c60d8902eeb1d9dc7b6746aa22497b81/wail-app/src/main/java/com/artemzin/android/wail/ui/fragment/main/MainFragment.java#L150).

[2015-06-22 16:10] ilya-murzinov commented on #162
@joonki34, good job! Many thanks!

[2015-06-22 18:14] ilya-murzinov commented on #162
OH SHI~
Seems that #132, #133, #134 are about this too.
My bad :(

[2015-06-22 18:34] ilya-murzinov commented on #162
@joonki34, please retest this, I can't reproduce it anywhere. Thanks.

[2015-06-22 23:47] artem-zinnatullin commented on #159
Sorry guys, just saw it, I'll check GA in the morning.
22 июня 2015 г. 3:42 PM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-06-23 03:52] joonki34 commented on #162
@ilya-murzinov Well, I did the same experiment and now it doesn't crash. I think it's safe to say that the issue is fixed.

[2015-06-23 05:40] ilya-murzinov commented on #159
Do not worry, it's already fixed :)

On Tue, Jun 23, 2015, 02:47 Artem Zinnatullin <notifications@github.com>
wrote:

[2015-06-23 05:56] ilya-murzinov commented on #162
@joonki34, ok, thanks you!

[2015-06-23 05:56] #162 closed

[2015-06-23 09:52] artem-zinnatullin commented on #159
Oh, cool :) I won't be able to publish release until weekends (actually, I
will be able to publish it today/tomorrow, but if hotfix will be required,
I'll be able to publish it only on weekends), so you have 3 days to prepare
0.7.3 :)

On Tue, Jun 23, 2015 at 8:40 AM, Ilya Murzinov <notifications@github.com>
wrote:

--
------------------
Best regards, Artem Zinnatullin
Sent from my bed.

[2015-06-23 09:59] ilya-murzinov commented on #159
@artem-zinnatullin, ok, it's cool :)

[2015-06-28 02:09] lemerafael commented on #58
I checked the java class mentioned and I noticed something.
The package name "com.jrtstudio.music" is related to https://play.google.com/store/apps/details?id=com.jrtstudio.music&hl=en, not to Rocket Player. Rocket player has package name "com.jrtstudio.AnotherMusicPlayer" (link: https://play.google.com/store/apps/details?id=com.jrtstudio.AnotherMusicPlayer&hl=en)

I tried downloading the project

[2015-06-28 02:14] lemerafael commented on #135
It was me! I'm glad I could help and you could fix it!

[2015-06-28 07:07] dufferzafar commented on #58
@lemerafael Great find! Maybe this is it. Does someone who knows Android/Eclipse please help out?

[2015-06-29 10:14] ilya-murzinov commented on #58
@lemerafael, nice!
I'll make this change today and then test it.

[2015-06-29 20:25] #58 closed

[2015-06-29 20:26] ilya-murzinov commented on #58
Yep, that's it.
Now WAIL works with RocketPlayer, thanks to @lemerafael!

[2015-06-29 20:31] ilya-murzinov commented on #159
@artem-zinnatullin, I completely missed this weekend :(
When can you publish the release now?

[2015-06-29 21:17] bassstorm commented on #157
I double that. Often use that feature of SLS (remove scrobble from unprocessed queue).

[2015-06-29 21:34] bassstorm commented on #26
Can't wait for this fix, really annoying issue.

[2015-06-29 21:42] regisd opened #165 "Add more languages i18n"

[2015-06-29 21:43] ilya-murzinov commented on #26
@bassstorm, just wait for 0.7.3 release (#159). Hope, @artem-zinnatullin will publish it soon!

[2015-06-29 21:54] regisd commented on #165
Do you have a translation tool such as https://www.getlocalization.com/ or http://pootle.translatehouse.org/ ?

[2015-06-29 21:56] ilya-murzinov commented on #165
Nope, we don't have any tools for translations.

[2015-06-30 08:50] artem-zinnatullin commented on #159
Uh, don't worry, me too :)

I think we can do release today or tomorrow.

[2015-06-30 09:24] artem-zinnatullin commented on #165
Actually, we have (some translators contacted me and suggested different online tools), but none of them synchronized with repository.

[2015-06-30 18:44] ilya-murzinov commented on #159
Couple of NPE's during the final testing :)
Nice :)

[2015-06-30 19:35] ilya-murzinov opened #168 "Fix proguard"
I had to revert #166 because it caused NPE (see #167).
@regisd, please take a look.

[2015-06-30 21:51] ilya-murzinov commented on #159
Ok, all testing done, new 0.7.3 released [here](https://github.com/artem-zinnatullin/android-wail-app/releases/tag/v0.7.3beta)!
@artem-zinnatullin, please publish the release on Google Play.

[2015-06-30 23:05] artem-zinnatullin commented on #159
Done!

[2015-06-30 23:05] #159 closed

[2015-06-30 23:08] ilya-murzinov commented on #159
I hope that this will not require hotfix :)

On Wed, Jul 1, 2015, 02:05 Artem Zinnatullin <notifications@github.com>
wrote:

[2015-06-30 23:10] artem-zinnatullin commented on #159
Oh yes, me too :)

On Wed, Jul 1, 2015 at 4:08 AM, Ilya Murzinov <notifications@github.com>
wrote:

--
------------------
Best regards, Artem Zinnatullin
Sent from my bed.

[2015-07-01 01:49] lemerafael commented on #58
You are welcome!

[2015-07-01 08:17] bassstorm commented on #159
Thanks much, guys! Gonna test it today :)

[2015-07-01 10:23] insintesi commented on #154
To be frank, this is exactly why I won’t update the app. The ability to exclude certain apps was *the* killer feature, and it worked excellent, at least on my side.

I use Rdio to stream songs, which already provides *one* option to scrobble across all platforms, unlike Spotify where scrobbling has to be activated on each platform respectively: desktop, mobile, tablet etc.

The new version of WAIL

[2015-07-01 10:29] ilya-murzinov opened #170 "Reintroduce "Ignore player" functionality"
"Ignore player" functionality apparently was a "killer-feature" (at least for one user).
So we need to find a way to bring it back.

[2015-07-01 10:30] ilya-murzinov commented on #154
@insintesi, thanks for your feedback.
I created issue #170, we will try to bring this feature back in 0.7.4.

[2015-07-01 10:32] insintesi commented on #154
Thank you, I really appreciate that. Also, many thanks for the app and keeping Last.fm on Android alive!

[2015-07-01 11:16] artem-zinnatullin commented on #154
BTW, if you need this feature feel free to download previous version of
WAIL from GitHub releases, we store signed versions there, so you can
install them safely.
1 июля 2015 г. 3:32 PM пользователь "insintesi" <notifications@github.com>
написал:

[2015-07-01 22:29] somegirl commented on #170
Like the other user, I am holding off on updating due to not being able to ignore Rdio, so I hope this feature can be added back.

[2015-07-02 23:35] ilya-murzinov opened #173 "V0.7.3 stopped scrobbling"
There are couple of reviews on Google Play about WAIL not working after update.

[2015-07-03 08:36] ilya-murzinov commented on #173
Have anybody here experienced the same issue?

[2015-07-03 12:45] bassstorm commented on #173
Works like a charm for me (Xperia Z3, Android 5.0.2).

[2015-07-03 13:46] ilya-murzinov commented on #173
Yep, for me too.
Although there are some changes that could affect others.
But I can't do pretty much anything without any information :(

[2015-07-03 14:30] artem-zinnatullin commented on #173
I'll ask them in Google Play.
3 июля 2015 г. 6:46 PM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-07-03 14:55] ilya-murzinov commented on #173
There is also review saying "After update one song scrobbling 10 times".
I suppose, this issues have something to do with #146

[2015-07-04 08:56] ilya-murzinov commented on #173
I managed to reproduce it, will fix.

[2015-07-04 09:45] ilya-murzinov commented on #173
Ok, done with "not scrobbling" problem.
But "one song scrobbling 10 times" is not clear.
@artem-zinnatullin, please ask Aaki Nagdev on Google Play what player he is using.

[2015-07-04 09:51] ilya-murzinov opened #174 "Release 0.7.4"
This is the issue to discuss next release.
I think we should release 0.7.4 with just #170 and #173.

[2015-07-04 11:43] bassstorm commented on #174
PR #172 is absolutely safe, just in case.

[2015-07-04 14:14] ilya-murzinov commented on #170
Closed via #171

[2015-07-04 14:14] #170 closed

[2015-07-05 14:38] artem-zinnatullin commented on #173
Done, asked him to write us via email

On Sat, Jul 4, 2015 at 2:45 PM, Ilya Murzinov <notifications@github.com>
wrote:

--
------------------
Best regards, Artem Zinnatullin
Sent from my bed.

[2015-07-05 14:38] artem-zinnatullin commented on #174
Okay, preparing release

[2015-07-05 14:39] artem-zinnatullin commented on #174
Oh, I didn't see draft for release, @ilya-murzinov can you please prepare standard draft as always? :)

[2015-07-05 14:39] ilya-murzinov commented on #174
@artem-zinnatullin, please wait, #173 is not fixed yet.

[2015-07-05 14:40] ilya-murzinov commented on #174
@artem-zinnatullin, yes, I'll prepare a draft.

[2015-07-05 14:41] artem-zinnatullin commented on #174
@ilya-murzinov I think we can do fast little release without waiting #173, to annoy as small amount of users as possible with #170 problem.

[2015-07-05 14:45] ilya-murzinov commented on #174
@artem-zinnatullin, alright

[2015-07-05 14:52] ilya-murzinov commented on #174
Especially, regarding that #173 is "mostly" fixed.

[2015-07-05 15:07] ilya-murzinov commented on #174
@artem-zinnatullin, we are good to go!
Release created [here](https://github.com/artem-zinnatullin/android-wail-app/releases/tag/v0.7.4beta).

[2015-07-05 15:15] artem-zinnatullin commented on #174
Okay, I'll publish it when I'll get to my computer
5 июля 2015 г. 8:07 PM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-07-05 18:36] artem-zinnatullin commented on #174
Done!

[2015-07-05 18:36] #174 closed

[2015-07-05 19:43] ilya-murzinov commented on #174
Great! :+1

[2015-07-07 05:06] NAUSHNIK52 opened #175 "Force scrobbling"
Please add a feature to force scrobble unscrobbled songs. Sometimes WAIL just not scrobbling some tracks and I want force scrobble them.

[2015-07-07 22:26] ilya-murzinov opened #177 "Scrobbling error after 0.7.3 and 0.7.4 update."
I think #163 could have affected this.
@artem-zinnatullin, @regisd please take a look.
![screenshot_2015-07-05-21-43-03](https://cloud.githubusercontent.com/assets/3704363/8558881/492bf204-2510-11e5-99b6-690436b8fa1c.png)
![screenshot_2015-07-05-21-42-49](https://cloud.githubusercontent.com/assets/3704363/8558878/42066914-2510-11e5-9717-b0e79448f662.png)

[2015-07-09 13:29] lemerafael commented on #177
I noticed the same thing, I came here also to report the issue...

[2015-07-09 15:02] ilya-murzinov commented on #177
@lemerafael, can you please share your logcat?

[2015-07-10 19:16] regisd commented on #177
The same MD5 is used for the OAuth process which still works. I'm having a look.

[2015-07-10 19:22] regisd commented on #177
I cannot reproduce with Google Play Music.
@lemerafael What player are you using?

[2015-07-10 20:36] regisd opened #181 "Amazon MP3 player doesn't scrobble"
Log:

[2015-07-10 20:38] regisd commented on #177
Is it a duplicate of issue #173 ?

[2015-07-10 20:41] regisd opened #182 "RTL support"
Update the layouts so thatRight-to-left languages are supported.
This would be required for Persan #122

[2015-07-10 20:54] regisd opened #183 "Remove support for custom language"
Currently, WAIL supports a setting whereby the user can choose a different language.

Locales are already natively handled by the platform. I don't think the setting that let the user choose a different language makes sense.

Removing this feature:

* Is consistent with how virtually all apps behave
* will simplify the settings, hence making a simpler better app
* will remove code, hence making th

[2015-07-10 21:04] regisd opened #184 "Replace SoundNotificationsManager by framework's sound notification"
The `SoundNotificationsManager` class is used to add a sound to notifications, as far as I can tell.

The platform already plays a notification when the notification is build with [`setSound`](http://developer.android.com/reference/android/app/Notification.Builder.html#setSound(android.net.Uri)).

Replacing SoundNotificationsManager by the framework sound:
- reduces code size, which is always good

[2015-07-10 21:07] regisd commented on #182
TODO
1. Update layout to use "start" rather than "left", and "end" rather than "right" (in most cases)
2. Update code to avoid string concatenation, eg: don't `setContentText(track.getArtist() + " - " + track.getTrack())` but instead setContentText(getString(R.string.bla, track.getArtist(), track.getTrack()`

[2015-07-10 21:09] regisd commented on #53
A few other things that might be useful:
- #182 RTL Support
- #183 Remove custom language support in settings
- #184  Delete SoundNotificationManager

[2015-07-11 14:00] lemerafael commented on #177
Sure, could you give me some instructions on how to do that? (I am a begginer)
Mainly, I am using Rocket Player, but I also use Play Music and Samsung Music Player sometimes. I realised when I used the Samsung Player, I got null on the first song and then the scrobble failed on all the other ones.

[2015-07-11 19:40] bassstorm commented on #177
Same here. See some issues from time time (double scrobbles or a missing track - PowerAmp player) but unable to analyze. Installed aLogcat and Catlog today, but there's nothing related to WAIL there. Perhaps, it requires root?

[2015-07-12 23:33] artem-zinnatullin commented on #183
No, please, I usually use English system but I live in Russia, and I prefer to use some (not all but a few) apps in Russian, so these feature makes sence at least for me, but it's not so critical.

Also, it makes testing of different languages easier because it does not require changing system language.

@ilya-murzinov thoughts?

[2015-07-12 23:35] artem-zinnatullin commented on #184
I am okay with that, but `MediaPlayer` allows us setting volume of the sound and as far as I remember notification can break music playing on some devices (ROMs)

[2015-07-12 23:35] artem-zinnatullin commented on #184
@ilya-murzinov cc

[2015-07-13 07:49] ilya-murzinov commented on #177
Hi guys,
@regisd, this is not duplicate of #173. Those issue is about tracks not scrobbled by WAIL itself, this one is about WAIL being unable to send scrobbled tracks to LastFM.
@lemerafael, @bassstorm, please see [this](http://forum.xda-developers.com/showthread.php?t=1726238) article.
We are not looking for an exception in the log, we need to see something like "WAILService all tracks marked as

[2015-07-13 08:23] #168 closed

[2015-07-13 16:29] bcsopi opened #185 "Jair Music Player support"
Could you add scrobble support for this great music player please? https://play.google.com/store/apps/details?id=aj.jair.music

[2015-07-13 22:48] lemerafael commented on #177
The failures from my logcat are:

07-13 19:27:50.882 E/WAIL    (25188): WAILService tracks scrobbling to Last.fm failed with api error: Missing required parameter track[2]

07-13 19:28:00.292 W/PackageManager(28602): Failure retrieving resources for com.artemzin.android.wail: Resource ID #0x0

I would attach the full file here, but it looks like I can't. Would you have any alternate suggestion for

[2015-07-14 07:52] ilya-murzinov commented on #177
@lemerafael, yes, please send it to my [e-mail](mailto:murz42@gmail.com)

[2015-07-14 10:59] ilya-murzinov commented on #177
From e-mail:

Thought you'd wanna know.
Thanks for the app.

![screenshot_2015-07-14-02-28-45](https://cloud.githubusercontent.com/assets/3704363/8671755/7b2d45e4-2a30-11e5-8edc-f9c007cafc0d.png)

[2015-07-14 11:00] ilya-murzinov commented on #177
Ok, I's starting to understand the problem.
Seems that after WAIL captured a track with no data it can't scrobble anymore.

[2015-07-14 11:02] ilya-murzinov commented on #177
The solution is pretty obvious - we should not just add track without correct information to DB for scrobbling.
@artem-zinnatullin, please verify.

[2015-07-14 11:02] artem-zinnatullin commented on #177
Oh, that's bad.
14 июля 2015 г. 2:00 PM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-07-14 11:04] ilya-murzinov commented on #177
Only one thing I can't understand - why did this came up in 0.7.3, not earlier?

[2015-07-14 11:07] ilya-murzinov commented on #184
@regisd, I have the same concerns.
You can try to do this change and test on your device(s) though.

[2015-07-14 11:16] artem-zinnatullin commented on #177
I guess some logic of working with API was changed and it prevents sending
request for scrobbling if one track can not be scrobbled.

BTW we don't only need to prevent saving tracks with incorrect info into
the db, we also should delete them on app update otherwise it'll help only
for new users/reinstalls.
14 июля 2015 г. 2:04 PM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-07-14 11:21] ilya-murzinov commented on #177
@artem-zinnatullin, yes, you are right.
I will submit the solution ASAP.

[2015-07-14 15:06] joonki34 commented on #183
I also use English settings although I live in Korea. Adding 'device language' option as default like Facebook app would be helpful.

[2015-07-14 17:20] regisd commented on #183
The default language is already "Auto", which is the locale of the device.

[2015-07-14 17:50] regisd opened #187 "Rename 'develop' to 'master'"
Please follow the git convention and rename 'develop' to 'master'.

[2015-07-14 17:58] ilya-murzinov commented on #183
I would agree with @regisd.
As a developer, I'd like to remove as much as possible.
As a user, I always use English locale anyway.

I think we can remove it and see how people react.

[2015-07-14 18:00] artem-zinnatullin commented on #183
I guess we'll receive only negative feedback, because most of users even
don't know that they can change language in tg the app, but little part
that use it will be angry.
14 июля 2015 г. 8:58 PM пользователь "Ilya Murzinov" <
notifications@github.com> написал:

[2015-07-14 18:03] ilya-murzinov commented on #183
Yes, I worry about this too.

[2015-07-14 18:10] regisd opened #188 "Submit the app to Last.fm diectory"
Last.fm lists third-party scrobblers on http://build.last.fm/category/Scrobblers
You can submit WAIL with http://build.last.fm/submit

[2015-07-14 18:52] regisd commented on #165
I just had a look, and poeditor.com has github integration
https://poeditor.com/help/how_to_translate_a_language_file_from_a_github_project

They are free up to 1000 strings (which seems enough for a small applike
WAIL)

[2015-07-14 21:55] artem-zinnatullin commented on #187
JFYI: I am not a fan of standard Git Flow for about 1.5 years, here is article that shares same opinions as mine, take a look :) http://endoflineblog.com/gitflow-considered-harmful

+1 for renaming `develop` to `master` and simplifying our Git Flow into one branch with tags and feature/fix branches for PRs ((with squashing into one commit before merge).

@ilya-murzinov what do you think?

[2015-07-14 22:06] ilya-murzinov commented on #187
Sure, ```master``` branch is currently useless.

[2015-07-14 22:15] artem-zinnatullin commented on #188
Submitted, thanks!

[2015-07-14 22:15] #188 closed

[2015-07-14 22:16] artem-zinnatullin commented on #183
So, I am closing this for now, feel free to reopen/comment.

[2015-07-14 22:16] #183 closed

[2015-07-14 22:18] ilya-murzinov commented on #177
Fixed in #186, thanks, guys!

[2015-07-14 22:18] #177 closed

[2015-07-14 22:19] ilya-murzinov opened #189 "Release 0.7.5"
I think we need another release, this time with just the fix for #177
Many users were affected by that :(

[2015-07-14 22:21] artem-zinnatullin commented on #189
Agree, just prepare it as regular release and I'll publish it :)

Also, we need to move other tasks from milestone 0.7.5 to 0.7.6

[2015-07-14 22:38] ilya-murzinov commented on #189
Ok, everything is done.

[2015-07-14 23:15] artem-zinnatullin commented on #189
Done, I've changed versionCode and versionName and made new tag.

Nice work!

[2015-07-14 23:15] #189 closed

[2015-07-15 13:13] ilya-murzinov opened #190 "Change versioning rules"
I think, we should follow [Semantic versioning](http://semver.org/).
Since we are in "beta" stage, I think we should increase minor version (i.e. 0.7.0 -> 0.8.0) when we introduce new features and increase patch version (i.e. 0.7.0 -> 0.7.1) when we just release some bug-fix.
@artem-zinnatullin, do you agree?

[2015-07-15 13:39] artem-zinnatullin commented on #190
Mm, it depends on our purposes :)

If we will use Semantic Versioning we will have version 40+ (like Chrome) pretty fast.

But why not :)

[2015-07-15 15:11] artem-zinnatullin commented on #190
So, let's just do it, I am closing this for now :)

[2015-07-15 15:11] #190 closed

[2015-07-15 15:11] artem-zinnatullin commented on #187
@ilya-murzinov can you please do it and leave one main branch in the repo?

[2015-07-15 15:14] artem-zinnatullin commented on #53
@ilya-murzinov, @regisd  what do you think about StorIO https://github.com/pushtorefresh/storio? I suggest use `StorIOSQLite` or `StorIOContentResolver` with type mapping.

For the first refactor we can use it without RxJava, later we can switch to Rx too. As StorIO developer/maintainer I can help with any questions :)

[2015-07-15 15:14] ilya-murzinov commented on #190
Ok!

[2015-07-15 16:30] ilya-murzinov commented on #53
@artem-zinnatullin, yes, I think it's a good idea.
It should not be very hard to migrate to StorIO because we have only a few tables.

[2015-07-15 16:37] ilya-murzinov commented on #187
@artem-zinnatullin, I think I don't have enough rights to do this.

[code]

[2015-07-15 16:41] ilya-murzinov commented on #173
Let's reopen this if Aaki Nagdev replies.

[2015-07-15 16:41] #173 closed

[2015-07-15 16:43] artem-zinnatullin commented on #187
Nope, problem is that develop is currently default branch in GitHub repo
settings, just change it to master.

BTW, please don't forget to merge develop into master before dropping
develop branch.

On Wed, Jul 15, 2015 at 7:37 PM, Ilya Murzinov <notifications@github.com>
wrote:

--
------------------
Best regards, Artem Zinnatullin
Sent from my bed.

[2015-07-15 16:44] artem-zinnatullin commented on #53
@ilya-murzinov great, I think it'll be better if you'll do it and give me feedback about APIs and documentation :)

[2015-07-15 16:47] ilya-murzinov commented on #187
@artem-zinnatullin, yep, I know that I can't delete default branch, but I can't change it because I don't have rights :)

[2015-07-15 16:47] ilya-murzinov commented on #53
Yes, of course!

[2015-07-15 16:49] ilya-murzinov opened #191 "Switch to StorIO"
As discussed in #53

[2015-07-15 16:53] artem-zinnatullin commented on #187
Oh, okay, changed to master!

[2015-07-15 16:59] ilya-murzinov commented on #187
Done!

[2015-07-15 16:59] #187 closed

[2015-07-15 19:49] regisd commented on #165
Hmm, poeditor is limited to 1000 strings in total (that would be 10*languages as of today). Mainly their github integration is not awesome (it's ok for the import, I don't think you can export).

I've just tested lingohub, and it's a very nice product https://translate.lingohub.com/regisd/wail/resources
Once link with github, you can pull the strings.xml and push the translated output. I think thi

[2015-07-16 19:56] regisd opened #192 "Improve Loggi"
Android logs can
- print a stakctrace thanks to a throwable parameter
- use format strings

Loggi should not remove these features.
Or we should get rid of Loggi completely.

[2015-07-16 20:08] artem-zinnatullin commented on #192
Let's just switch to Timber, I think I'll publish better version of Loggi
as part of Pushtorefresh libraries, but I don't have any estimates yet, so
Timber will be enough.
16 июля 2015 г. 10:56 PM пользователь "Régis Décamps" <
notifications@github.com> написал:

[2015-07-18 00:37] lemerafael commented on #26
It seems the app is not respecting the duration of 50% or maybe is it the same time bug that was reported here? I am getting multiple scrobbles when I pause a track and then I restart it: I get a scrobble before and then I get a new scrobble after restarting it.

[2015-07-18 09:55] ilya-murzinov commented on #26
@lemerafael, yes, this is the same bug, but unfortunately we can't do anything about it, if player doesn't send track's duration. So it's actually only partially fixed :(

[2015-07-22 20:00] LockeAnarchist opened #197 "Wail don't scrobble tracks that failed to scrobble"
When I enter in a network with last.fm blocked (my college), wail, naturally, try to scrobble but fails and shows the correct "scrobble error".

But when I get in home, wail shows that the scrobbles was successful(scrobbled), but the tracks are not recorded in last.fm, they are lost.

[2015-07-22 20:11] ilya-murzinov commented on #197
Hmmm, can't reproduce.
Needs investigation.

[2015-07-24 03:46] gonemad opened #198 "Tracks scrobbling multiple times"
This seems to be happening quite often to me.  When i go to last.fm i'll see sometimes 2-4 scrobbles of the same track, all at the exact same time.  When I go into Wail and look at what is being scrobbled, it only shows up once.  Is it possible wail thinks its failing and is retrying again.. so it sends a bunch of scrobbles at once?

[2015-07-24 11:30] NAUSHNIK52 commented on #198
It is Last.FM issue, not WAIL.

[2015-07-24 15:02] gonemad commented on #198
why is it only happening with WAIL then?  I dont seem to have the issue when i scrobble from musicbee, nor did i have issues in the past with simple last.fm scrobbler

[2015-07-24 15:06] NAUSHNIK52 commented on #198
I don't know, but I have this issue with WAIL, Chrome Web Scrobbler and I read that some users experiencing this issue too (official Last.fm forums, Reddit).

[2015-07-24 15:29] gonemad commented on #198
yeah.. nevermind.. you are right.  I wasnt experiencing it before with other scrobbling methods.. but just looked now and its repeating for musicbee as well.  This can be closed

[2015-07-24 15:29] #198 closed

[2015-08-06 12:44] #120 closed

[2015-08-21 03:32] effupthefun opened #200 "Scrobble error"
I'm getting a "scrobble error" after last.fm forced us to use the new layout. It's been like this for 2 (or 3?) days

[2015-08-21 19:26] artem-zinnatullin commented on #200
Helo!

Looks like Last.fm has some internal problems (and changes!), you can check their twitter: https://twitter.com/lastfm

We will monitor this, I hope they'll just make things work again and WAIL will scrobble your tracks (even those, that were not sent because of this problem).

[2015-08-21 19:26] #200 closed

[2015-08-23 06:50] keyursakaria opened #201 "After Last.fm website update Scrobbling issue"
Hey there,

After the new last fm website update the application is unable to scrobble either its scrobbling... or scrobble error. I logged out and sign in again it worked for a while and then again it stopped scrobbling.

[2015-08-23 10:58] nIELSEn74 commented on #201
same for me, the best of all scrobblers stopped scrobbling - but after logging out i can't even log in to last.fm any more via wail

[2015-08-23 18:32] ilya-murzinov commented on #201
@nIELSEn74 what kind of error do you get?

[2015-08-23 18:55] nIELSEn74 commented on #201
hello ilya,

in the meantime it's possible to login,  but the connection between wail
and last.fm still fails
Am 23.08.2015 20:32 schrieb "Ilya Murzinov" <notifications@github.com>:

[2015-08-24 03:39] Mastinal commented on #201
I'm also having this issue.

I receive a "Last.fm error: Value <?xml of type java.lang.String cannot be converted to JSONObject" message when I try to refresh the app.

[2015-08-24 11:16] nIELSEn74 commented on #201
now that the wail-app got connected to last.fm it can't scrobble anyway :(
Am 23.08.2015 20:32 schrieb "Ilya Murzinov" <notifications@github.com>:

[2015-08-25 07:44] kasoban commented on #201
Can confirm this behavior with wail 0.7.5 beta, it only happens through the "refresh"/"update" action on the dashboard view though.

Scrobbling still works fine for me.

[2015-09-10 13:53] HankAviator commented on #117
Yes! Please implement VK scrobbling soon!

[2015-11-10 21:56] peterjosling opened #203 "Apple Music support"
Apple Music (beta) has been released today — I had a brief try at adding support myself, but I couldn't work out how to find the correct intent names/whether they're broadcast in the first place.

I'm happy to have another go if someone could point me in the right direction — otherwise, would be great to have support added.

[2015-11-11 05:57] artem-zinnatullin commented on #203
Intent parsing was bad, but working idea… Correct way of implementing support for a LOT of players is #8.

[2015-11-11 05:57] artem-zinnatullin commented on #203
@peterjosling would be very nice if you'll finish #8 — it'll make WAIL truly polyglot scrobbler!

[2015-11-12 05:05] NAUSHNIK52 opened #204 "Scrobbled song percentage"
Feature request. Please add percentage of scrobbled song to WAIL notification. Like if I listened song for 10% it shows that song scrobbled for 10%

[2015-11-13 17:26] raxemus commented on #117
Yeah! ^_^

[2015-11-15 08:26] NAUSHNIK52 commented on #203
@artem-zinnatullin How long will take this implementing?

[2015-11-15 17:20] artem-zinnatullin commented on #203
@NAUSHNIK52 for whom? I'm not working on WAIL.

[2015-11-15 17:25] NAUSHNIK52 commented on #203
@artem-zinnatullin I'm sorry then

[2015-11-17 01:44] ghaspias opened #206 "Persistent "network error" after failed scrobble"
After a failed scrobble, wil keeps giving the message "Network error: please try again later", and no more scrobbles anything, resulting in a long list of failed scrobbles.
Is it possible to recover this without losing all those scrobbles?
Is there any log that can help diagnose the issue?

[2015-11-27 23:21] Alia5 opened #207 "App recognition for music players who identify as com.android.music"
A lot of Music-Players identify themselfs as the "generic android music player" and sending broadcasts with **com.android.music.XXX** intents
Scrobbling support in this case is implemented, but no "app recognition feature"
As a lot of apps also include an extra String **"scrobbling_source"**
eg. `bundle.putString("scrobbling_source", "com.examplecompany.exampleapp");`
in the BroadCast-Bundles, a d

[2015-11-27 23:33] Alia5 opened #208 "Support for ScrobbleDroid / Simple Last.fm Scrobbler API"
A boost in app Support, would be to add support for "ScrobbleDroids" and "Simple Last.fm Scrobllers" API
As far as I can see, a Broadcast-Receiver for each API would need to be added

API Documentation:
[ScrobbleDroid](https://github.com/JJC1138/scrobbledroid/wiki/Developer-API)
[Simple Last.fm Scrobbler](https://github.com/tgwizard/sls/blob/master/Developer%27s%20API.md)

[2015-11-28 00:21] Alia5 commented on #207
[Fix automated Build](https://github.com/Alia5/android-wail-app/commit/b47200e7d9e69cc47b60ea53a6f24983e58cf743)

[2015-12-28 11:28] raxemus opened #210 "Add support for osu!droid game"
http://4pda.ru/forum/index.php?showtopic=257129

[2016-01-01 22:59] austinbutler opened #211 ""Waiting for Scrobble" Error"
New scrobbles don't seem to be making it to last.fm, instead showing a status of "waiting for scrobble." See screenshot below.

Scrobbling via other means, for example the Prime Player Chrome extension, works.

![screenshot_20160101-145459](https://cloud.githubusercontent.com/assets/354741/12072542/e00c8f68-b097-11e5-9093-573e70f68472.png)

[2016-01-05 09:52] iTwenty opened #212 "Newly cloned project issues due to material-dialogs library"
I tried building the freshly cloned project, meaning no cached dependencies. The gradle sync failed because the material-dialogs library has had [some changes since 8.0.0] (https://github.com/afollestad/material-dialogs/releases/tag/0.8.0.0), meaning I got a `Failed to resolve: com.afollestad:material-dialogs:0.7.6.0` error. I updated the library version and added the jitpack repo, but got errors

[2016-01-19 19:22] shaunchurch commented on #211
I'm here because I just noticed the same issue. Did you find a fix @austinbutler?

[2016-01-20 02:12] austinbutler commented on #211
It worked again for a bit on its own, then on the 15th it started doing the same thing again.

[2016-01-26 00:38] peterjosling commented on #211
Mine's been doing this since the 23rd, too. I'll try to have a poke around at the app tomorrow and see if I can work anything out.

[2016-01-26 00:49] peterjosling commented on #211
Hmm, I force stopped the app, opened it up again and it still said "Waiting for Scrobble", but just looked back and now they've all scrobbled successfully.

[2016-03-17 22:28] insintesi opened #214 "Goodbye."
Just wanted to say I'm very grateful for your work and am sad to see that development has come to an end. It still works by and large, but I notice certain smaller things that used to make WAIL special don’t work anymore (e.g. scrobbling Deezer when broadcast via Chromecast). What a bummer.

[2016-03-17 22:31] artem-zinnatullin commented on #214
Yeah, since there is no "standard" way to get informations from players on all Android versions some apps may not work after updates.

Sorry for end of development, I just have no time and motivation to work on it.

[2016-03-17 22:31] #214 closed

[2016-11-28 13:20] #201 closed

[2017-08-21 22:08] peterjosling commented on #203
Just in case anyone ever sees this: I've built Apple Music support into my own scrobbler, which I've just released. https://play.google.com/store/apps/details?id=com.peterjosling.scroball

[2019-05-24 21:18] #210 closed